*{
    padding: 0%; 
    margin: 0%;
}
#tituloMayoo{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Yanone Kaffeesatz';
    color: rgb(4, 41, 75); 
    font-size: 50px;
}
#subtituloMayoo{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgba(4, 63, 102, 0.815); 
}
#subtituloMayo:hover{
    transform: scale(2,2);
    font-size: 30%;
}

.pieDePagina{
    color: rgb(0, 36, 15); 
    font-weight: bolder; 
}

th{
    color: rgb(255, 123, 0); 
}

#contacto{
    color: rgb(255, 17, 0); 
    font-weight: bolder; 
}

.descripcionFilm{
    color: rgb(18, 18, 24); 
    font-weight: bolder; 
    font-family: 'Barlow Semi Condensed', sans-serif;
}
p{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
a{
    text-decoration-line: none;
    color: black;
}

.barraNav{
    display: flex;
    flex-flow: row, nowrap;
    justify-content: flex-start;
}
.listaNav {
    border-style: solid;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Yanone Kaffeesatz';
    font-size: 25px; 
    padding: 15px;
    margin: 15px; 
    background-color:rgb(255, 255, 255);
   }
.listaNav:hover{
    transform: scale(1.2,1.2);
}
main{
    background-color: white; 
}

#mainHome{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 250px 250px;
    grid-template-areas: "area1 area2 area3"
                         "area1 area2 area3";
    justify-items: center;
        }
    #mainFoto{
        grid-area: area1;
        width: 90%;
        height: 90%; 
        transform: scale(1,1);
    }
    #mainFoto2{
        grid-area: area1;
        width: 90%;
        height: 90%;
        grid-area: area3;
    }
        
    #mainDescription{
        grid-area: area2;
        width: 70%;
        height: 80%;
        font-size: 20px;
        color: black; 
       
   }

   .carousel {
    width:840px;
    height:560px;
  }

  @media only screen and (max-width:768px){

    #mainHome{
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 250px 250px;
        grid-template-areas: "area1 area2 area3"
                             "area1 area2 area3";
        justify-items: center;
    
    }
    
        #mainFoto{
            grid-area: area1;
            width: 80%;
            height: 80%;
           }
           #mainFoto2{
            grid-area: area1;
            width: 60%;
            height: 60%;
            grid-area: area3;
              }
           #mainDescription{
           grid-area: area2;
           width: 70%;
           height: 80%;
           font-size: 20px;
           color:black; 
           }
    
    }
    @media only screen and (min-width:992px){

        #mainHome{
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-template-rows: 250px 250px;
            grid-template-areas: "area1 area2 area3"
                                 "area1 area2 area3";
            justify-items: center;
        }
        #mainFoto{
            grid-area: area1;
            width: 100%;
            height: 100%;
           }
           #mainFoto2{
            grid-area: area1;
            width: 100%;
            height: 100%;
            grid-area: area3;
              }
           #mainDescription{
           grid-area: area2;
           width: 70%;
           height: 80%;
           font-size: 20px;
           color: black 
           }

    }



